@font-face {
    font-family: 'Inter';
    src: url('./Inter-Regular.woff2') format('woff2'),
        url('./Inter-Regular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

.hello {
    font-family: 'Inter';
    color: red;
    background: url('./icon.png');
}